<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >

<mapper namespace="cn.com.oa.mapper.ModelsMapper">

	<select id="findModelByIds" resultType="models">
		select * from model where modelId in
		<foreach collection="array" index="index" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
  	
  	<select id="findModelById" parameterType="int" resultType="models">
		select * from model where modelId = #{modelId}
	</select>
	
	<select id="findModelByParentId" parameterType="string" resultType="models">
		select * from model where parentId = #{parentId}
	</select>
	
	<select id="findParentModelByParentId" parameterType="integer" resultType="models">
		select * from model where modelId = #{parentId}
	</select>
</mapper>
